html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Project styling area */

html {
  box-sizing: border-box;
  max-width: 1600px;
  font-size: 16px;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
}

.container {
  background-image: url(./images/ece_background\ copy.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 0.25em;
  padding-bottom: 5em;
  box-shadow: #02c4ff 0px 0px 25px 5px;
}

/* =========================
   NAVBAR — MOBILE FIRST
========================= */

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 1rem 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
}

.navbar-container {
  width: min(90%, 1600px);
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.navbar-logo {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

/* Hamburger Button */

.navbar-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Hamburger Bars */

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

/* Hamburger Animation */

.navbar-toggle.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Mobile Menu */

.navbar-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 10rem 0;
  background: rgba(77, 124, 155, 0.95);
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 5rem;
  transition: all 0.3s ease-in-out;
}

/* Show Menu */

.navbar-menu.active {
  display: flex;
}

/* Nav Links */

.navbar-menu li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.7s ease-in-out;
}

/* .navbar-menu li a:hover {
  color: #02c4ff;
} */

/* Hero Section Begins Here */

.home_hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem;
  text-align: center;
}

.home_hero_content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 500;
  max-width: 400px;
}
.home_hero_content p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
  max-width: 350px;
  line-height: 1em;
}

.home_hero_content .sch-name:nth-of-type(1) {
  color: white;
  border-radius: 2em;
  border: 1 solid gray;
  background-color: #333;
  padding: 0.3em 1em;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #02c4ff;
}

.home_links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}
.home_links a {
  font-family: "Roboto", sans-serif;
  padding: 0.8em 1.5em;
  color: #49928f;
  text-decoration: none;
  border-radius: 2em;
  border: none;
  outline: none;
  font-weight: bold;
  box-shadow: #02c4ff 0px 0.25px 1.25px;
  transition: background-color 0.3s ease-in-out;
}

/* Remove ugly mobile tap highlight */
a,
button {
  -webkit-tap-highlight-color: transparent;
}

/* While finger is pressing */
a:active,
button:active {
  transform: scale(0.97);
  opacity: 0.9;
}

/* Remove sticky focus */
a:focus,
button:focus {
  outline: none;
}

/* Accessibility for keyboard users */
a:focus-visible,
button:focus-visible {
  outline: 2px solid #02c4ff;
  outline-offset: 3px;
}

.apply_now {
  background-color: #fff;
}

.home_links .explore_programs {
  color: #fff;
  border: none;
  outline: none;
  transition: background-color #02c4ff 0.3s ease-in-out;
}

/* .home_links .explore_programs:hover {
  background-color: #49928f;
  color: #fff;
  box-shadow: #02c4ff 0px 5px 25px;
} */

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin-top: 3rem;
  text-align: left;
}

.card {
  background-color: #f5f5f5;
  padding: 2em;
  border-radius: 1em;
  box-shadow: #02c4ff 0px 0.25px 1.25px;
}

.cards h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: #333;
  margin: 1rem auto;
}

.cards p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.25em;
  max-width: 100%;
}

.cards img,
.learning_cards img {
  width: 10%;
  height: auto;
  border-radius: 1em;
}

.cards .card:nth-of-type(1) {
  box-shadow: rgb(255, 0, 0) 1.25px 1.25px 1.25px;
}

.cards .card:nth-of-type(2) {
  box-shadow: rgb(0, 133, 249) 1.25px 1.25px 1.25px;
}
.cards .card:nth-of-type(3) {
  box-shadow: rgb(4, 255, 4) 1.25px 1.25px 1.25px;
}

/* About Us and Admission Styles Begins Here */

.about_us,
.admission {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.about_us h2,
.admission h3,
.home_contact_us h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: left;
  max-width: 800px;
}

.about_us p,
.admission p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.25em;
  text-align: left;
  max-width: 100%;
  margin: 0 auto;
}

/* ========= Programs Section ========= */

#home_programs .program:nth-of-type(1) {
  box-shadow: rgb(255, 0, 0) 1.25px 1.25px 1.25px;
}

#home_programs .program:nth-of-type(2) {
  box-shadow: rgb(0, 133, 249) 1.25px 1.25px 1.25px;
}
#home_programs .program:nth-of-type(3) {
  box-shadow: rgb(4, 255, 4) 1.25px 1.25px 1.25px;
}

/* ========= Facilities Section ========= */

#home_facilities .facility:nth-of-type(1) {
  box-shadow: rgb(255, 0, 0) 1.25px 1.25px 1.25px;
}

#home_facilities .facility:nth-of-type(2) {
  box-shadow: rgb(0, 133, 249) 1.25px 1.25px 1.25px;
}
#home_facilities .facility:nth-of-type(3) {
  box-shadow: rgb(4, 255, 4) 1.25px 1.25px 1.25px;
}

#management_content {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.2rem 0;
  padding: 1em;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

#management {
  text-align: center;
  margin: 1em auto;
}

#management h3 {
  margin: 1em auto;
  font-size: 2rem;
}

#management img {
  max-width: 50%;
  border-radius: 50%;
}

#management p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.apply_now_mid {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.apply_now_mid .btn_apply_now {
  font-family: "Roboto", sans-serif;
  padding: 0.8em 1.5em;
  color: #49928f;
  text-decoration: none;
  border-radius: 2em;
  border: none;
  outline: none;
  font-weight: bold;
  box-shadow: #02c4ff 0px 0.25px 5px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.apply_now_mid .btn_apply_now a {
  color: #49928f;
  text-decoration: none;
  font-size: 1.2em;
  padding: 2em 3em;
}

/* About Us and Admission Styles Ends Here */

/* Programs style Begins Here */

.programs {
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* .programs h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: red;
  margin-bottom: 1rem;
} */

.programs a {
  text-decoration: none;
}

.program {
  background-color: #f5f5f5;
  padding: 1.5rem;
  border-radius: 1em;
  box-shadow: #02c4ff 0px 0.25px 1.25px;
}
.program h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: left;
}

.program p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.25em;
  text-align: left;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1.25rem;
}

.programs .program img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
}

.programs span {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  border: 0.25 solid black;
  border-radius: 1rem;
  padding: 0 1em;
  font-weight: 400;
}

.programs .program:nth-of-type(1) span {
  background-color: rgb(234, 163, 163);
  color: red;
}
.programs .program:nth-of-type(2) span {
  background-color: rgb(170, 215, 255);
  color: blue;
}
.programs .program:nth-of-type(3) span {
  background-color: rgb(137, 252, 198);
  color: green;
}
/* Programs style Ends Here */

/* Facilities style begins Here */

.facilities {
  padding: 1em 2em;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/* .facility h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
} */

.facility {
  background-color: #f5f5f5;
  padding: 1.5rem;
  border-radius: 1em;
  box-shadow: #02c4ff 0px 0.25px 1.25px;
}

.facility h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: left;
}

.facility p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #666;
  line-height: 1.25em;
  text-align: left;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1.25rem;
}

.facilities .facility img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  background-color: #f5f5f5;
}
/* 
================================
Facilities style Ends Here
================================
/* 


/* ==============================
Contact Us Styles Begins Here
===============================  */

.home_contact_us {
  text-align: center;
  margin: 1em auto;
  margin-bottom: 5rem;
}

.home_contact_us h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  max-width: 50%;
  margin: 1em auto;
  text-align: center;
}

input {
  margin: 1em auto;
  border: none;
  outline: tomato;
}

input:focus {
  border-bottom: 1px solid black;
  outline: none;
}

input::placeholder {
  color: #02c4ff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.home_contact_us button {
  color: #49928f;
  font-family: "Roboto", sans-serif;
}

.home_contact_us button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.8em 1.5em;
  color: #49928f;
  text-decoration: none;
  border-radius: 2em;
  border: none;
  outline: none;
  margin-top: 2rem;
  font-weight: bold;
  box-shadow: #02c4ff 0px 0.25px 5px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

form label {
  border-bottom: 1.5px solid black;
}

/* Contact Us Styles Ends Here */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  background-color: #02c4ff;
  border-bottom-left-radius: 3em;
  box-shadow: #02c4ff 0px 0px 50px 0px;
}

footer a,
footer p {
  text-decoration: none;
  color: white;
}

footer ul li {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

/* EARLY CHILDHOOD EDUCATION STYLING  */

/* Early Childhood Education Background Begins */

.container-ece {
  background-image: url(./images/classroom\ copy.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 0.25em;
  padding-bottom: 5rem;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: #02c4ff 0px 0px 25px 5px;
}

/* Early Childhood Education Background Ends */

/* Primary Education Background Begins */

.container-primary {
  background-image: url(./images/prbackground.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 0.25em;
  padding-bottom: 5rem;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: #02c4ff 0px 0px 25px 5px;
}

/* Primary Education Background Ends */

/* Junior High Education Background Begins */

.container-junior {
  background-image: url(./images/junior_high.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 0.25em;
  padding-bottom: 5rem;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: #02c4ff 0px 0px 25px 5px;
}

/* Junior High Education Background Ends */

.ece_hero .ece {
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  border: 1 solid black;
  border-radius: 2em;
  padding: 0.5em 1em;
  background-color: rgb(130, 124, 124);
}

.ece_hero_content {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.ece_hero_content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
  max-width: 100%;
  text-align: center;
}

.ece_hero_content p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
  max-width: 700px;
  text-align: center;
  margin: 1em;
  line-height: 1.25em;
}

.ece_hero_content a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding: 0.8em 2.5em;
  color: #fff;
  margin-top: 2.5rem;
  letter-spacing: 0.5px;
  font-weight: bold;
}

a,
.ece_btn,
.ece_admission_btn {
  -webkit-tap-highlight-color: transparent;
}

.ece_btn {
  border: 1px solid #49928f;
  outline: none;
  padding: 1em 2em;
  border-radius: 2em;
}

.learning_section,
.ece_admission_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2em;
  margin-top: 3rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.learning_card,
.ece_requirement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  padding: 2em;
  margin-top: 2rem;
  border-radius: 1em;
  box-shadow: #02c4ff 0px 0.25px 1.25px;
}

.learning_cards {
  max-width: 100%;
  margin: 0 auto;
}

.learning_cards .learning_card:nth-of-type(1) {
  box-shadow: rgb(255, 0, 0) 1.25px 1.25px 1.25px;
}

.learning_cards .learning_card:nth-of-type(2) {
  box-shadow: rgb(0, 133, 249) 1.25px 1.25px 1.25px;
}
.learning_cards .learning_card:nth-of-type(3) {
  box-shadow: rgb(4, 255, 4) 1.25px 1.25px 1.25px;
}

.learning_section h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: #333;
  margin: 1em auto;
}

.learning_section h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
  margin: 1em auto;
  text-align: left;
}

.learning_section p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.25em;
  max-width: 100%;
  text-align: left;
}

.learning_section img {
  width: 20%;
  height: auto;
  border-radius: 1em;
}

.activity,
.ece_facility {
  padding: 1.5em;
  border-radius: 1em;
}

.activity_content,
.ece_facility_content {
  font-family: "Roboto", sans-serif;
  color: #333;
  margin-top: 2rem;
}

.activities_section,
.ece_facilities_section {
  display: flex;
  flex-direction: column;
  padding: 2em;
  text-align: center;
  background-color: rgb(235, 173, 216);
}

.ece_admission_section {
  margin-bottom: 3em;
}

.activities_section h2,
.ece_facilities_section h2,
.ece_admission_section h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
  margin: 1em auto;
  text-align: left;
}

.activities_section p,
.ece_facilities_section p,
.ece_requirement p,
.ece_admission_section p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.25em;
  max-width: 100%;
  text-align: left;
}

.activity,
.ece_facility {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.activity_image img,
.ece_facility_image img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.activity_content,
.ece_facility_content {
  width: 100%;
}

.activity_content h3,
.ece_facility_content h3,
.ece_requirement h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.8em;
  text-align: left;
}

.ece_admission_requirements {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  text-align: left;
}

.ece_admission_requirements .ece_requirement:nth-of-type(1) {
  box-shadow: rgb(255, 0, 0) 1.25px 1.25px 1.25px;
}

.ece_admission_requirements .ece_requirement:nth-of-type(2) {
  box-shadow: rgb(0, 133, 249) 1.25px 1.25px 1.25px;
}
.ece_admission_requirements .ece_requirement:nth-of-type(3) {
  box-shadow: rgb(4, 255, 4) 1.25px 1.25px 1.25px;
}

.ece_admission_btn {
  font-family: "Roboto", sans-serif;
  padding: 0.8em 1.5em;
  color: #49928f;
  text-decoration: none;
  border-radius: 2em;
  border: 1px solid #666;
  outline: none;
  font-weight: bold;
}

/* /////// Tablet Display ////// */

@media (min-width: 768px) {
  .navbar {
    padding: 1.2rem 0;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-menu {
    position: static;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    background: transparent;
    backdrop-filter: none;
  }

  .navbar-menu li a {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
  }

  .home_hero_content h1 {
    max-width: 750px;
  }

  .home_hero_content p {
    max-width: 500px;
  }

  .home_links {
    flex-direction: row;
    max-width: 100%;
  }

  .home_links a {
    padding: 0.8em 2em;
    margin: 0 auto;
  }
  .cards {
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }

  .cards h3,
  .cards p {
    text-align: left;
  }

  .cards img,
  .learning_cards img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0;
  }

  .cards .card,
  .learning_cards .learning_card {
    flex: 1;
  }

  #management_content {
    flex-direction: row;
  }

  .about_us h2,
  .admission h3,
  .home_contact_us h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #333;
    margin-bottom: 1em;
    text-align: center;
    max-width: 800px;
  }

  .about_us p,
  .admission p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #666;
    line-height: 1.25em;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }

  .programs {
    flex-direction: row;
    gap: 2rem;
    max-width: 100%;
  }

  .facilities {
    flex-direction: row;
    gap: 2rem;
    max-width: 100%;
  }

  .facility,
  .program,
  .home_contact_us form {
    flex: 1;
  }

  .home_contact_us h2 {
    margin: 1em auto;
  }

  footer ul {
    flex-direction: row;
  }

  .social_media ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ece_hero_content a {
    padding: 0.8em 5em;
  }

  .learning_cards {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .learning_card h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  .learning_card p {
    text-align: center;
    font-size: 1.2rem;
  }

  .learning_heading h2,
  .activities_heading h2,
  .ece_facilities_heading h2,
  .ece_admission_content h2 {
    text-align: center;
    font-size: 2rem;
  }

  .learning_heading p,
  .activities_heading p,
  .ece_facilities_heading p,
  .ece_admission_content p {
    text-align: center;
    font-size: 1.2rem;
  }

  .ece_admission_requirements {
    gap: 2em;
    flex-direction: row;
    margin-bottom: 5em;
  }

  .ece_admission_section {
    margin-bottom: 3em;
  }

  .ece_requirement h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  .ece_requirement p {
    text-align: center;
    font-size: 1.2rem;
  }
}

/* //////// Desktop Display \\\\\\\\\ */

@media (min-width: 1024px) {
  .home_hero_content h1 {
    max-width: 1600px;
    font-size: 2.5rem;
  }

  .home_hero_content p {
    max-width: 800px;
    font-size: 1.5rem;
  }

  .home_links {
    flex-direction: row;
    max-width: 100%;
  }

  .home_links a {
    padding: 0.8em 2em;
    margin: 0 auto;
  }

  .cards,
  .learning_cards {
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }

  .cards h3,
  .cards p {
    text-align: center;
    font-size: 1.2rem;
  }

  .about_us h2,
  .admission h3,
  .home_contact_us h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #333;
    margin-bottom: 1em;
    text-align: center;
    max-width: 800px;
  }

  .about_us p,
  .admission p {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 1em;
    text-align: center;
    max-width: 800px;
  }

  .cards img,
  .learning_cards img {
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .cards .card {
    flex: 1;
  }

  #management_content {
    flex-direction: row;
  }

  .programs {
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }

  .programs h4,
  .facilities h4 {
    text-align: center;
  }

  .facilities {
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }

  .facility,
  .program,
  .home_contact_us form {
    flex: 1;
  }

  .home_contact_us h2 {
    margin: 1em auto;
  }

  footer ul {
    flex-direction: row;
  }

  .social_media ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ece_hero_content a {
    padding: 0.8em 5em;
  }

  .ece_hero_content p {
    max-width: 700px;
  }

  .learning_cards {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .activity_image img,
  .ece_facility_image img {
    width: 80%;
    height: 100%;
    border-radius: 3em;
    padding: 2em;
  }

  .activity,
  .ece_facility {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
  }

  .activity.reverse,
  .ece_facility.reverse {
    flex-direction: row;
  }

  .activity_content,
  .ece_facility_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .learning_heading p,
  .ece_facilities_section p,
  .activities_section p,
  #ece_admission_section p {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
  }

  .learning_heading h3,
  .ece_facilities_section h3,
  .activities_section h3,
  #ece_admission_section h3 {
    font-size: 1.5rem;
  }

  .learning_card p {
    font-size: 1.2rem;
  }

  .ece_admission_requirements {
    gap: 2em;
    flex-direction: row;
    margin-bottom: 5em;
  }

  .ece_admission_content p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  #ece_admission_section {
    margin-bottom: 3em;
  }

  .activity_image,
  .ece_facility_image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .activity_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5em;
  }

  .ece_facility_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
  }
}

/* Screen Size @ 1440px */

@media (min-width: 1440px) {
  .home_hero_content h1 {
    max-width: 1600px;
  }

  .home_hero_content p {
    max-width: 800px;
  }

  .home_links {
    flex-direction: row;
    max-width: 100%;
  }

  .home_links a {
    padding: 0.8em 2em;
    margin: 0 auto;
  }

  .cards,
  .learning_cards {
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }

  .cards h3,
  .cards p {
    text-align: center;
  }

  .cards img,
  .learning_cards img {
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .cards .card {
    flex: 1;
  }

  #management_content {
    flex-direction: row;
  }

  .programs {
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }

  .facilities {
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }

  .facility,
  .program,
  .home_contact_us form {
    flex: 1;
  }

  .home_contact_us h2 {
    margin: 1em auto;
  }

  footer ul {
    flex-direction: row;
  }

  .social_media ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ece_hero_content a {
    padding: 0.8em 5em;
  }

  .learning_cards {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .activity_image img,
  .ece_facility_image img {
    width: 80%;
    height: 100%;
    border-radius: 3em;
    padding: 2em;
  }

  .activity,
  .ece_facility {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
  }

  .activity.reverse,
  .ece_facility.reverse {
    flex-direction: row;
  }

  .activity_content,
  .ece_facility_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .learning_heading p,
  .ece_facilities_section p,
  .activities_section p,
  #ece_admission_section p {
    max-width: 800px;
    margin: 0 auto;
  }

  .ece_admission_requirements {
    gap: 2em;
    flex-direction: row;
    margin-bottom: 5em;
  }

  #ece_admission_section {
    margin-bottom: 3em;
  }
}
/* =========================
   HOVER EFFECTS
   Desktop / Hover Devices Only
========================= */

@media (hover: hover) {
  .navbar-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: #02c4ff;
  }

  .home_links a:hover,
  .ece_hero_content a:hover {
    background-color: #e0e0e0;
    box-shadow: #02c4ff 0px 5px 25px 0.5px;
  }

  .home_links .explore_programs:hover {
    background-color: #49928f;
    color: #fff;
    box-shadow: #02c4ff 0px 5px 25px;
  }

  .apply_now_mid .btn_apply_now:hover {
    background-color: #e0e0e0;
    color: #333;
  }

  #home_contact_us button:hover {
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
  }
}
