html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Project styling area */

html {
  box-sizing: border-box;
  max-width: 100%;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100%;
}

/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

ul li {
  margin: 0.8em;
} */

.container {
  background-color: #49928f;
  max-width: 100%;
  border-bottom-left-radius: 5em;
  padding-bottom: 5em;
  background-image: url(./images/child_learning.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Home Hero Styles Begin Here */

.home_hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
}

.home_hero h1 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 2rem + 1.25vw, 3.5rem);
  padding-top: clamp(1rem, 2rem + 1.25vw, 3.5rem);
  font-weight: 500;
  max-width: 24em;
  text-align: center;
  line-height: 100%;
  color: white;
  line-height: 1.25em;
}

.home_hero p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 0.75rem + 1.25vw, 1.25rem);
  padding-bottom: clamp(1rem, 0.75rem + 1.25vw, 1.25rem);
  font-weight: 300;
  max-width: 25em;
  text-align: center;
  color: white;
  line-height: 1.25em;
}

.home_hero span {
  color: blue;
  font-style: italic;
  transition: all 0.3s ease-in-out;
}

.home_hero span:hover {
  color: #02c4ff;
  margin-top: 0.25em;
  text-decoration: underline;
  text-shadow: #02c4ff 0px 0px 10px;
}

.home_links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.5em, 0.25em + 1vw, 1.25em);
  max-width: 100%;
}

.home_links a {
  text-decoration: none;
  padding: clamp(0.9em, 0.25em + 1vw, 1.25em);
  margin-top: clamp(0.5em, 0.25em + 1vw, 1.25em);
  border-radius: 2em;
  width: 8em;
  text-align: center;
  border: 1px solid white;
  transition: background-color 0.3s ease-in-out;
  box-shadow: #02c4ff 0px 1.25px 1px;
}

.home_links .learn_more {
  background-color: white;
  color: #bf08bf;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
}

.home_links .learn_more:hover {
  background-color: #02c4ff;
  color: white;
  box-shadow: #02c4ff 0px 0px 10px;
}
.home_links .learn_more:active {
  background-color: gray;
  color: white;
}

.home_links .apply_now {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.home_links .apply_now:hover {
  background-color: #f4f4f4;
  color: black;
  box-shadow: #02c4ff 0px 0px 10px;
}
.home_links .apply_now:active {
  background-color: #f4f4f4;
  color: black;
  box-shadow: #02c4ff 0px 0px 10px;
}

/* Home Hero Style Ends Here */

/* Statements Style Begins Here */

.statements_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 2em;
  max-width: 100%;
  padding: 2em;
  gap: 2em;
}

.statements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  max-width: 100%;
}

.statements_container h2 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 1.25rem + 1.25vw, 2rem);
  padding-top: clamp(1rem, 2rem + 1.25vw, 3.5rem);
  font-weight: 600;
  max-width: 100%;
  background-color: rgb(29, 42, 56);
  padding: 1.25em;
  margin: 1em auto;
  color: white;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
}

.statements_container p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 0.75rem + 1.75vw, 1.75rem);
  font-weight: 300;
  max-width: 100%;
  text-align: center;
  line-height: 1.25em;
}

.about {
  background-color: rgb(29, 42, 56);
  border-bottom-left-radius: 4em;
  border-top-right-radius: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 5em;
}

.about_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  max-width: 100%;
}

.about_us h2 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 1.25rem + 1.25vw, 2rem);
  font-weight: 600;
  color: white;
}

.about_us p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 0.75rem + 1.75vw, 1.75rem);
  font-weight: 300;
  max-width: 100%;
  text-align: center;
  line-height: 1.25em;
  color: white;
}

/* Events Style Begins Here */

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  max-width: 100%;
}
.event h2 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 1.25rem + 1.25vw, 2rem);
  font-weight: 500;
  color: white;
  padding-top: 2em;
}

.event p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 0.75rem + 1.75vw, 1.75rem);
  font-weight: 300;
  max-width: 100%;
  text-align: center;
  line-height: 1.25em;
  color: white;
}

#home_contact_us {
  min-height: 50vh;
  text-align: center;
  margin: 5em auto;
}

#home_contact_us h2 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 1.25rem + 1.25vw, 2rem);
  font-weight: 500;
  margin-bottom: 2em;
  margin: 1em auto;
}

input {
  margin: 1em auto;
  border: none;
  outline: none;
}

input:focus {
  border-bottom: 1px solid black;
  outline: none;
}

form button {
  border-radius: 1.2rem;
  padding: 1em 2em;
  border: none;
  background-color: rgb(29, 42, 56);
  margin-top: 3em;
  transition: background-color 0.3s ease-in-out;
  color: white;
}

#home_contact_us button {
  color: white;
  text-transform: uppercase;
  font-size: clamp(1rem, 0.75rem + 1.25vw, 1.25rem);
  font-family: "Roboto", sans-serif;
}

#home_contact_us button:hover {
  background-color: gray;
  color: black;
}

.form-example label {
  border-bottom: 1.5px solid black;
  font-family: "Roboto", sans-serif;
}

.form-example .size {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 0.75rem + 1.25vw, 1.25rem);
  font-weight: 300;
}

footer {
  background-color: rgb(29, 42, 56);
  color: white;
  text-align: center;
  padding: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

.social_media ul {
  gap: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social_media p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  max-width: 100%;
}

.social_media li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.social_media a {
  color: white;
  text-decoration: none;
  padding-bottom: 2em;
}

.social_media a:hover {
  text-decoration: underline;
}

.social_media a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.social_media a:hover {
  text-decoration: underline;
}
