html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Project styling area */

html {
  box-sizing: border-box;
  max-width: 1600px;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100%;
}

/* header {
  border-radius: 2em;
  background-color: #fff;
  box-shadow: #02c4ff 0px 0.25px 1.25px;
  margin: 1em auto;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

header a {
  text-decoration: none;
  padding: 0.5em 1.5em;
  border-radius: 1em;
}

li a {
  font-family: "Roboto", sans-serif;
  color: #49928f;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

header a:hover {
  background-color: #49928f;
  color: #fff;
  box-shadow: #02c4ff 0px 5px 25px;
}

.contact_us a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
  border-radius: 2em;
  border: none;
  outline: none;
  font-weight: bold;
  box-shadow: #02c4ff 0px 0.25px 5px;
  background-color: #02c4ff;
  transition: background-color 0.3s ease-in-out;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

ul li {
  margin: 0.8em;
  font-family: "Roboto", sans-serif;
} */

.container {
  background-image: url(./images/early_childhood.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 0.25em;
  padding-bottom: 5em;
  box-shadow: #02c4ff 0px 0px 25px 5px;
}

.home_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em;
  text-align: center;
}

.home_hero h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  color: #fff;
}
.home_hero p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #fff;
  max-width: 600px;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #02c4ff;
}

.home_links {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
}
.home_links a {
  font-family: "Roboto", sans-serif;
  padding: 0.8em 1.5em;
  color: #49928f;
  text-decoration: none;
  border-radius: 2em;
  border: none;
  outline: none;
  font-weight: bold;
  box-shadow: #02c4ff 0px 0.25px 1.25px;
  transition: background-color 0.3s ease-in-out;
}

.apply_now {
  background-color: #fff;
}

.home_links a:hover {
  background-color: #e0e0e0;
  box-shadow: #02c4ff 0px 5px 25px 0.5px;
  transition: background-color #02c4ff 0.3s ease-in-out;
}

.home_links .explore_programs {
  color: #fff;
  border: none;
  outline: none;
  transition: background-color #02c4ff 0.3s ease-in-out;
}

.home_links .explore_programs:hover {
  background-color: #49928f;
  color: #fff;
  box-shadow: #02c4ff 0px 5px 25px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  margin-top: 3em;
  text-align: center;
}

.card {
  background-color: #f5f5f5;
  padding: 2em;
  border-radius: 1em;
  box-shadow: #02c4ff 0px 0.25px 1.25px;
}

.cards h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin: 1em auto;
}

.cards p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #666;
  line-height: 1.25em;
  max-width: 100%;
}

.cards img {
  width: 10%;
  height: auto;
  border-radius: 1em;
}

/* About Us and Admission Styles Begins Here */

#about_us,
#admission {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
}

#about_us h2,
#admission h3,
#home_contact_us h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #333;
  margin-bottom: 1em;
  text-align: center;
  max-width: 800px;
}

#about_us p,
#admission p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #666;
  line-height: 1.25em;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.apply_now_mid {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.apply_now_mid .btn_apply_now {
  font-family: "Roboto", sans-serif;
  padding: 0.8em 1.5em;
  color: #49928f;
  text-decoration: none;
  border-radius: 2em;
  border: none;
  outline: none;
  font-weight: bold;
  box-shadow: #02c4ff 0px 0.25px 5px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.apply_now_mid .btn_apply_now a {
  color: #49928f;
  text-decoration: none;
  font-size: 1.2em;
  padding: 2em 3em;
}

.apply_now_mid .btn_apply_now:hover {
  background-color: #e0e0e0;
  color: #333;
}

/* About Us and Admission Styles Ends Here */

/* Programs style Begins Here */

#programs {
  padding: 2em;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

#programs h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #333;
  margin-bottom: 1em;
  text-align: center;
}

.program {
  background-color: #f5f5f5;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: #02c4ff 0px 0.25px 1.25px;
}
.program h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 1em;
  text-align: center;
}

.program p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #666;
  line-height: 1.25em;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1.25em;
}

#programs .program img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
}

/* Programs style Ends Here */

/* Facilities style begins Here */

#facilities {
  padding: 2em;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

#facilities h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #333;
  margin-bottom: 1em;
  text-align: center;
}

.facility {
  background-color: #f5f5f5;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: #02c4ff 0px 0.25px 1.25px;
  margin-bottom: 2em;
}
.facility h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 1em;
  text-align: center;
}

.facility p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #666;
  line-height: 1.25em;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1.25em;
}

#facilities .facility img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 1em;
  background-color: #f5f5f5;
}

/* Facilities style Ends Here */

/* Contact Us Styles Begins Here */

#home_contact_us {
  text-align: center;
  margin: 5em auto;
}

#home_contact_us h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  max-width: 50%;
  margin: 1em auto;
}

input {
  margin: 1em auto;
  border: none;
  outline: tomato;
}

input:focus {
  border-bottom: 1px solid black;
  outline: none;
}

input::placeholder {
  color: #02c4ff;
}

form button:hover {
  background-color: #e0e0e0;
}

#home_contact_us button {
  color: #49928f;
  font-family: "Roboto", sans-serif;
}

#home_contact_us button {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 0.8em 1.5em;
  color: #49928f;
  text-decoration: none;
  border-radius: 2em;
  border: none;
  outline: none;
  margin-top: 5em;
  font-weight: bold;
  box-shadow: #02c4ff 0px 0.25px 5px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

#home_contact_us button:hover {
  background-color: #e0e0e0;
  color: #333;
}

.form-example label {
  border-bottom: 1.5px solid black;
}

/* Contact Us Styles Ends Here */

footer {
  background-color: #02c4ff;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin-top: 2em;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

footer li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.social_media a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.social_media a:hover {
  text-decoration: underline;
}

/* Display Screen On Large Devices */

@media (min-width: 768px) {
  .home_links {
    flex-direction: row;
    /* gap: 2em; */
    max-width: 100%;
  }

  .home_links a {
    padding: 0.8em 2em;
    margin: 0 auto;
  }
  .cards {
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }

  .cards h3,
  .cards p {
    text-align: center;
  }

  .cards img {
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .cards .card {
    flex: 1;
  }

  #programs {
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }
  #facilities {
    flex-direction: row;
    gap: 2em;
    max-width: 100%;
  }

  #facilities .facility,
  #programs .program,
  #home_contact_us form {
    flex: 1;
  }
  #home_contact_us h2 {
    margin: 1em auto;
  }
  .social_media {
    flex-direction: column;
  }
}
